@width    : 1226px;
@arrowleft: 25px; // 轮播图左右切换箭头的左右外边距
@menuBgk  : #e4e4e4; // 菜单按钮背景
@colors   : #333,
#424242,
#ff6700,
#fff,
rgb(220, 220, 224);

.flex {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.setWidHei(@width, @height) {
    width : @width;
    height: @height;
}

.container {
    width : @width;
    margin: 0 auto;
}

.clearfix {
    .same() {
        content: '';
        display: table;
    }

    &::before {
        .same();
    }

    &::after {
        .same();
        clear: both;
    }
}

ul {
    list-style-type: none;
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;

    li {
        display: inline-block;
    }
}

a {
    display        : inline-block;
    text-decoration: none;
}

.collapse-transition {
    transition: height .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s ease-in-out;
}

.dialog-close {
    font-size : 22px;
    color     : rgb(105, 101, 101);
    transition: color 0.2s ease-in-out;
    cursor    : pointer;

    &:hover {
        color: extract(@colors, 1);
    }
}