@width    : 1226px;
@arrowleft: 25px; // 轮播图左右切换箭头的左右外边距
@menuBgk  : #e4e4e4; // 菜单按钮背景
@colors   : #333,
#424242,
#ff6700,
#fff,
rgb(220, 220, 224);

.flex {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.setWidHei(@width, @height) {
    width : @width;
    height: @height;
}

.container {
    width : @width;
    margin: 0 auto;
}

.clearfix {
    .same() {
        content: '';
        display: table;
    }

    &::before {
        .same();
    }

    &::after {
        .same();
        clear: both;
    }
}

ul {
    list-style-type: none;
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;

    li {
        display: inline-block;
    }
}

a {
    display        : inline-block;
    text-decoration: none;
}

.collapse-transition {
    transition: height .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s ease-in-out;
}

.dialog-close {
    font-size : 22px;
    color     : rgb(105, 101, 101);
    transition: color 0.2s ease-in-out;
    cursor    : pointer;

    &:hover {
        color: extract(@colors, 1);
    }
}

.aColor {
    color     : extract(@colors, 1);
    transition: color 0.2s;

    &:hover {
        color: extract(@colors, 3);
    }
}

.noselect() {
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}

.submit() {
    border-radius   : 3px;
    background-color: extract(@colors, 3);
    color           : extract(@colors, 4);
    transition      : background-color 0.25s ease-in;
    border          : 0;
    cursor          : pointer;
    .noselect();

    &:hover {
        background-color: #f58134;
        transition      : background-color 0.35s ease-out;
    }
}

.cardSty() {
    background-color: extract(@colors, 4);
    border-radius   : 3px;
    box-shadow      : 0 1px 2px -2px rgb(0 0 0 / 8%), 0 3px 6px 0 rgb(0 0 0 / 6%),
        0 5px 12px 4px rgb(0 0 0 / 4%);
}